@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    color: #201c19;
    text-decoration: none;
    font-family: 'Inter', 'Public Sans', 'Savate';
}

body {
    scroll-behavior: smooth;
    /* transition: all 0.5s ease-in-out; */
}

header {
    width: 100%;
    min-height: 100vh;
    background: #53412a;
    background: #987952;
    background: linear-gradient(105deg, #b5a184d5 11%, #ebe3d91a 30%), url(../photos/cake-1.jpg);
    background-size: cover;
    background-position: 50% 50%;
    padding-top: 25px;
}

nav {
    width: 78%;
    margin: auto;
    height: 78px;
    background: #fae6c9ad; 
    border-radius: 25px;
    backdrop-filter: blur(8px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    
}

.nav-items {
    display: flex;
    align-items: center;
    gap: 14px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.banner-content {
    margin-top: 90px;
    width: 50%;
    min-height: 75vh;
    border: none;
    /* background: #c6b19e60; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding-left: 100px;
    gap: 25px;
}

.btn-group {
    margin-top: 10px;
    margin-bottom: 20px;

}

.btn {
    padding: 8px 20px;
    background: #372f23;
    border-radius: 10px;
    color: #e7dad1;
    transition: 0.3s;
}

/* menu btn */
.menu {
    display: none;
}

/* section */

section {
    min-height: 70vh;
    box-shadow: 2px 2px 4px #d3cccc19;
    margin-top: 0.5px;
    padding: 50px;
}

.title {
    text-align: center;
}

/* about-section */
.about-section {
    display: flex;
}

.about-content,
.about-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-content {
    flex-direction: column;
    gap: 20px;
    padding: 50px;
}

/* menu section */
.menu-section {
    display: flex;
    gap: 20px;
    margin: 50px 50px;
}    

.flex-2 {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.flex-1 {
    font: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* restimonials section */

.testimonials {
    width: 100%;
    background-image: url("../photos/cake-4.jpg");
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
}

.testimonials-section {
    width: 70%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.testimonials-content, 
.testimonials-photo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonials-content {
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    background: #c0ac94f4;
}

.testimonials-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#contact {
    background: #bba78e8d;
}

/* contact section */
.contact-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 50px;
}

.contact-section {
    box-shadow: 2px 2px 4px #cfc7bb;
    background: #fffcf7;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

